{% extends 'base.html' %}
{#% import "bootstrap/wtf.html" as wtf %#}

{% block main %}
    <!--{ { wtf.quick_form(form) }}-->
    <div class="content-section">
<form action="{{ url_for('add') }}" method="post" enctype="multipart/form-data">

{{ form.csrf_token }}
    <div class="form-group">
    <div class="float-right">
        <label>Upload your Image: </label><br>
        <input name="imag" type="file" accept="image/*">
    </div>
Name:
{{ form.fn }}
{{ form.ln }}
<br><br>
{{ form.dob.label }}
{{ form.dob }} as on <acronym title="YYYY-MM-DD" style="text-decoration: none;">{{ date }}</acronym>
<br><br>
{{ form.gen.label }}
{{ form.gen }}
<br><br>{{ form.add1.label}}
    {{ form.add1 }}
    {{ form.add2 }}
    {{ form.add3 }}
    {{ form.add4 }}
    <br><br>
    {{ form.mob.label }}
    {{ form.mob }}
    <br><br>
    {{ form.email.label }}
    {{ form.email }}
    <br><br>
    <center style="width: 65%;">{{ form.submit (class='btn btn-outline-info')}}</center>

<br>
    </div>
</form>
    </div>
{% endblock main %} <!-- ese bhi likh skte hai or srf endblock bhi -->