<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>HOSPITAL MANAGEMENT SYSTEM</title>
    {{moment.include_moment()}}
</head>
<body>

<div class="text-center page-header">
    <div style="background-image: url('https://images.livemint.com/img/2021/04/16/1600x900/PTI08-07-2020_000163B_1594788570767_1618594328886.jpg');
    background-repeat: no-repeat; background-size: cover;filter: blur(8px);
        height: 250px"></div>
    <div style="color: white;
background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 23px;
  text-align: center;">
            <h1 class="display-2">TOWN HOSPITAL</h1>
        <p class="display-5">Aapki apni locality me</p>
        <h2 class="display-4">{{ page }}</h2>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light {% if page != "RECORDS" %}mb-5{% endif %} sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Records <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('add') }}">New Registration</a>
      </li>
    </ul>

      <form action="{{url_for('home')}}" method="post" class="form-inline my-2 my-md-0">
          <select name="key" class="form-control form-select" id="search">
          <option value="id" selected>ref id</option>
          <option value="fn">first name</option>
          <option value="ln">last name</option>
          <option value="date">date of reg</option>
              <option value="dob">dob</option>
              <option value="age">age</option>
              <option value="gen">gender</option>
              <option value="mob">phone</option>
              <option value="email">email</option>
        </select>
          <select name="value1" class="form-control form-select w-40" style="display: None;" id="sex">
                <option value="Female" selected>Female</option>
          <option value="Male">Male</option>
          <option value="Other">Other</option>
          </select>
          <input name="value2" type="number" class="form-control" id="search_input" required>
          <button class="btn btn-outline-secondary">Search</button>
    </form>
  </div>
</nav>

{% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{%if alert_type%}{{alert_type}}{%else%}info{%endif%}">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p style="height: 6px;">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div class="container-fluid">
    {% block main %}
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
          var sel = document.getElementById("search");
          var input = document.getElementById("search_input");
          var gendr = document.getElementById("sex");
          input.required = true;
          sel.onchange = function(){
              var x = sel.value;
              if (x === "id" || x === "age" || x=== "mob"){
                  input.style.display = "inline";
                  gendr.style.display = "none";
                      input.setAttribute("type", "number");
              }else if (x === "fn" || x ==="ln" ){
                  input.style.display = "inline";
                  gendr.style.display = "none";
                      input.setAttribute("type", "text");
              }else if (x === "dob" || x === "date"){
                      input.style.display = "inline";
                      gendr.style.display = "none";
                      input.setAttribute("type", "date");
              }else if (x==="email"){
                  input.style.display = "inline";
                  gendr.style.display = "none";
                      input.setAttribute("type", "email");
              }else if (x === "gen"){
                  input.style.display = "none";
                  input.required=false;
                  gendr.style.display = "inline";
              }
          };
</script>

</body>
</html>